<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="/home.css" />

    <body>
     <ul>
      <% @recipes.each do |recipe| %>
      <li><a href="/recipes/<%= recipe["id"] %>"><%= recipe["name"] %></a></li>
      <% end %>
     </ul>
    </body>

</html>
