<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="/home.css" />

    <body>
    <h1><%= @recipes_id[0]["name"] %></h1>
      <p><%= @recipes_id[0]["description"] %></p>
      <p>Ingredients: <%= @recipes_id[0]["ingredients"] %></p>
      <p>Instructions: <%= @recipes_id[0]["instructions"] %></p>
    </body>

</html>
